/* three to two to one column */

/*  idea from http://www.java2s.com/Tutorials/HTML_CSS/CSS_Layout_How_to/Three_Column/Create_3_2_1_responsive_column_layout.htm */

.span-321 { width: 32.26%; }
.span-321:nth-child(3n+1) { margin-left: 0; }

@media only screen and (max-width: 1200px) {
    .main-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }
}

@media only screen and (max-width: 1020px) {
     body { font-size: 18px; }
     section { padding: 60px 0; }
     .logo { height: 70px }
}


@media only screen and (max-width: 900px) {
    .span-321 { width: 49.2%; }
    .span-321:nth-child(3n+1) { margin-left: 1.6%; }
    .span-321:nth-child(2n+1) { margin-left: 0; }
    #blog .item { margin: 0 15px }

    .row { padding: 0 4%; }
}

@media only screen and (max-width: 760px) {
    .main-nav { display: none; }
    .mobile-nav-icon { display: inline-block;}

    /* slide toggle nav menu in mobile mode */
    .js--nav-wrap { position: relative }
    .js--main-nav { /*main nav displays by jQuery slideToggle */
        position: absolute;
        margin-top: 0;
        top: 96px;
        left: 0;
        width: 100%;
        background: #6b6f85;
        z-index: 1;
    }

    .js--main-nav li {
        display: block;
        margin-right: 32px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    /* slide toggle nav menu in mobile mode */
    .sticky .js--main-nav {
        background-color: #6F79A8;
    }

    #skills-title {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .skills-box > :nth-child(2) {
        width: 55%;
    }
}

@media only screen and (max-width: 623px) {
    .span-321 {
        width: 100%;
        margin: 0;
        padding: 5%;
    }

    #blog .item { margin: 1% 6% }
}

@media only screen and (max-width: 550px) {
    .skills-box > :nth-child(2) {
        margin-bottom: 15px;
    }

    .skills-box > div {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    footer > .row > .span-1-of-2 {
        width: 49.2%;
    }
    .main-text-box {
        top: 55%;
    }

}
