/*
Indigo Light:   #d0d8ff
Indigo Primary: #9ea7d8
Indigo Dark:    #6F79A8
*/

/* ------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* to include border and padding in the width */
}

html,
body {
    background: #fff;
    color: #555;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight:300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; /* hide something that stretches beyond the screen */
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

/* ------------------------------------------------*/
/* REUSABLE COMPONENTS */
/* ------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0; /* remove empty margin on the top */
    margin-bottom: 100px;
    color: #424242;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 70px;
}

h1 span {
    font-weight: 500;
    color: #6F79A8;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h2,
h3 {
    text-transform: uppercase;
}


/* PARAGRAPHS */

.long-paragraph {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/* ------------------------------------------------*/
/* HEADER */
/* ------------------------------------------------*/

header {
    background-image: linear-gradient(rgb(235,235,235, 0.98), rgb(235, 235, 235, 0.1)), /* make background hazy */
                      linear-gradient(0.25turn, rgb(235,235,235, 0.98), rgb(235, 235, 235, 0.1)),
                      url(img/hanlee_laptop.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; /* fill whole page with header */
    background-attachment: fixed;
}

.logo {
    height: 80px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Main navi */

.main-nav{
    float: right;
    list-style: none; /* get rid of bullet points */
    margin-top: 40px;
}

.main-nav li ,
#learn-more {
    display: inline-block; /* so they can be side by side */
    margin-left: 32px;
}


.main-nav li a:link,
.main-nav li a:visited,
#learn-more {
    font-weight: 300;
    padding: 8px 8px;
    color: #424242;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}
.main-nav li a:hover,
.main-nav li a:active {
    color: #fff;
    background-color: #6F79A8;
}
#learn-more {
    color: #fff;
    background-color: #6F79A8;
    border: 1px solid transparent; /*make the button size the same as hover one*/
}

#learn-more:hover,
#learn-more:active {
    color: #424242;
    background-color: transparent;
    border: 1px solid #6F79A8;
}

/* main text box */

.main-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-48%, -30%);
    -ms-transform: translate(-48%, -30%);
    transform: translate(-48%, -30%);
}

#learn-more {
    margin-left: 0;
}

/* ------------------------------------------------*/
/* About */
/* ------------------------------------------------*/

#selfie-icons {
    position: relative;
    height: 250px;
    width: 300px;
    margin: 0 auto;
}

#selfie {

    position: absolute; /* absolute relative to #selfie-icons */
    top: calc(50% - 78px); /* center the selfie */
    left: calc(50% - 43px);
    display: block;

    width: 100px;
    padding: 10px;
    border-radius: 100%;
    opacity: 0.7;
}

.icons {
    width: 250px;
    height: 250px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.icons {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.icons a {
    text-decoration: none;
    color: #6F79A8;
    font-size: 1.5em;
    height: 40px;
    width: 40px;
    line-height: 40px;

    position: absolute;
    text-align: center;
}

.skills-box {
    width: 70%;
    margin: 30px 0 0 15%;
}

.skills-box p {
    margin-bottom: 10px;
}
