/*
Indigo Light:   #D0D8ff
Indigo Primary: #9ea7d8
Indigo Dark:    #6F79A8
*/

/* ------------------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* to include border and padding in the width */
}

html,
body {
    background: #fff;
    color: #555;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight:300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; /* hide something that stretches beyond the screen */
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

/* ------------------------------------------------*/
/* REUSABLE COMPONENTS */
/* ------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    color: #d0d8ff;
    margin-top: 0; /* remove empty margin on the top */
    margin-bottom: 100px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 70px;
}

h1 span {
    font-weight: 500;
    color: #fff;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin: 15px 0 0;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #9ea7d8;
    content: " ";
    width: 150px;
    margin: 5px auto 25px;
}

h2,
h3 {
    text-transform: uppercase;
}

.box {
    padding: 1%;
}

/* PARAGRAPHS */

.long-paragraph {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/* ------------------------------------------------*/
/* HEADER */
/* ------------------------------------------------*/

header {
    background-image: linear-gradient(rgb(208, 216, 255, 0.4), rgb(208, 216, 255, 0.4)), /* make background hazy */
                      /* linear-gradient(0.25turn, rgb(235,235,235, 0.6), rgb(235, 235, 235, 0.)), */
                      url(img/front-page.png);
    background-size: cover;
    background-position: center;
    height: 100vh; /* fill whole page with header */
    background-attachment: fixed;
}

.logo {
    height: 80px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Main navi */

.main-nav{
    float: right;
    list-style: none; /* get rid of bullet points */
    margin-top: 40px;
}

.main-nav li ,
#learn-more {
    display: inline-block; /* so they can be side by side */
    margin-left: 32px;
}


.main-nav li a:link,
.main-nav li a:visited,
#learn-more {
    font-weight: 300;
    padding: 8px 8px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}
.main-nav li a:hover,
.main-nav li a:active {
    color: #555;
    background-color: #D0D8ff;
}
#learn-more {
    background-color: transparent;
    border: 1px solid #D0D8ff; /*make the button size the same as hover one*/
}

#learn-more:hover,
#learn-more:active {
    color: #555;
    background-color: #D0D8ff;;
    border: 1px solid #D0D8ff;
}

/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(111, 121, 168, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    -moz-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .logo {
    /* display: none; */
    height: 60px;
    margin-top: 6px;
}

.sticky .main-nav { margin-top: 6px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #fff;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3 s;
    -webkit-transition-property: transform; /* slow growing menus */
    transition-property: transform;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    background-color: transparent;
    -webkit-transform: scale(1.1); /* grow 110% when hovering nav menus*/
    transform: scale(1.1);
}



/* main text box */

.main-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-48%, -30%);
    -ms-transform: translate(-48%, -30%);
    transform: translate(-48%, -30%);
}

#learn-more {
    margin-left: 0;
}

/* ------------------------------------------------*/
/* About */
/* ------------------------------------------------*/

#selfie-icons {
    position: relative;
    height: 220px;
    width: 300px;
    margin: 0 auto;
}

#selfie {

    position: absolute; /* absolute relative to #selfie-icons */
    top: calc(50% - 71px); /* center the selfie */
    left: calc(50% - 43px);
    display: block;

    width: 100px;
    padding: 10px;
    border-radius: 100%;
    opacity: 0.7;
}

.icons {
    width: 250px;
    height: 250px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.open.icons {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.icons a {
    text-decoration: none;
    color: #6F79A8;
    font-size: 1.5em;
    height: 40px;
    width: 40px;
    line-height: 40px;

    position: absolute;
    text-align: center;
}

.skills-box {
    width: 70%;
    margin: 30px 0 0 15%;
}

.skills-box p {
    margin-bottom: 10px;
    color: #888;
}


/* ------------------------------------------------*/
/* Portfolio */
/* ------------------------------------------------*/

.section-portfolio {
    background-color: #f4f4f4;
}

.box > img {
    width: 100%; /* fit into div .col */
    height: auto;
    margin-bottom: 15px;
}

.box p {
    font-size: 90%;
}

.btn-app {
    text-decoration: none;
}

.btn-app img  {
    height: 40px;
    width: auto;
    margin: 10px 10px -14px 0;
}

.btn-github:link,
.btn-github:visited {
    font-size: 16px;
    color: #6F79A8;
    padding:7px 15px;
    font-weight: 300;
    text-decoration: none;
    border: 1px solid #6F79A8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-github:hover,
.btn-github:active {
    color: #fff;
    background-color: #6F79A8;
}
